# SQL Agent - IBM Generative AI Python SDK
- https://ibm.github.io/ibm-generative-ai/v2.3.0/rst_source/examples.extensions.langchain.langchain_sql_agent.html

In [1]:
from dotenv import load_dotenv
from genai import Client, Credentials
from langchain.agents import AgentExecutor
from genai.schema import TextGenerationParameters
from langchain.memory import ConversationBufferMemory
from langchain_community.utilities import SQLDatabase
from langchain_core.runnables import RunnablePassthrough
from genai.extensions.langchain import LangChainChatInterface
from langchain.agents.format_scratchpad import format_log_to_str
from langchain.agents.output_parsers import JSONAgentOutputParser
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain.tools.render import render_text_description_and_args
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder

print('Load .env variables:', load_dotenv())

Load .env variables: True

# Connects to WatsonX

In [2]:
llm = LangChainChatInterface(
    client=Client(credentials=Credentials.from_env()),
    model_id='meta-llama/llama-3-70b-instruct',
    parameters=TextGenerationParameters(
        max_new_tokens=250, min_new_tokens=20, temperature=0, stop_sequences=['\nObservation']
    ))

# Load Database

Setup:

- Download [``Chinook_Sqlite.sql``](https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql)
- Run ``sqlite3 Chinook.db``
- Run ``.read Chinook_Sqlite.sql``
- Test ``SELECT * FROM Artist LIMIT 10``;

In [3]:
db = SQLDatabase.from_uri('sqlite:///Chinook.db')
print(db.dialect)
print(db.get_usable_table_names())
db.run('SELECT * FROM Artist LIMIT 10;')

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

# Prepare SQL toolkit

In [4]:
sql_toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = sql_toolkit.get_tools()
print('Available tools:', tools)

Available tools: [QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11072b510>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11072b510>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11072b510>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11072b510>, llm=LangChainChatInterface(client=<genai.client.Client object at 0x107d9a150>, model_id='meta-llama/llama-3-70b-instruct', parameters=TextGenerationParameters(beam_width=None, decoding_method=None, include_stop_sequence=None, length_penalty=None, max_new_tokens=250, min_new_tokens=20, random_seed=None, repetition_penalty=None, return_options=None, stop_sequences=['\nObservation'], temperature=0.0, time_limit=None, top_k=None, top_p=None, truncate_input_tokens=None, typical_p=None)), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=LangChainChatInterface(client=<genai.client.Client object at 0x107d9a150>, model_id='meta-llama/llama-3-70b-instruct', parameters=TextGenerationParameters(beam_width=None, decoding_method=None, include_stop_sequence=None, length_penalty=None, max_new_tokens=250, min_new_tokens=20, random_seed=None, repetition_penalty=None, return_options=None, stop_sequences=['\nObservation'], temperature=0.0, time_limit=None, top_k=None, top_p=None, truncate_input_tokens=None, typical_p=None))))]

# Prepare Agent

In [5]:
system_prompt = """Respond to the human as helpfully and accurately as possible. You have access to the following tools:
{tools}
Use a json blob to specify a tool by providing an action key (tool name) and an action_input key (tool input).
Valid "action" values: "Final Answer" or {tool_names}
Provide only ONE action per $JSON_BLOB, as shown:
```
{{
  "action": $TOOL_NAME,
  "action_input": $INPUT
}}
```
Follow this format:
Question: input question to answer
Thought: consider previous and subsequent steps
Action:
```
$JSON_BLOB
```
Observation: action result
... (repeat Thought/Action/Observation N times)
Thought: I know what to respond
Action:
```
{{
  "action": "Final Answer",
  "action_input": "Final response to human"
}}
Begin! Reminder to ALWAYS respond with a valid json blob of a single action.
Respond directly if appropriate. Format is Action:```$JSON_BLOB```then Observation"""  # noqa

human_prompt = """{input}
{agent_scratchpad}
(reminder to respond in a JSON blob no matter what)"""

memory = ConversationBufferMemory()

prompt = ChatPromptTemplate.from_messages(
    [
        ("system", system_prompt),
        MessagesPlaceholder("chat_history", optional=True),
        ("human", human_prompt),
    ]
).partial(
    tools=render_text_description_and_args(list(tools)),
    tool_names=", ".join([t.name for t in tools]),
)

agent = (
    RunnablePassthrough.assign(
        # format the agent's scratchpad to a string
        agent_scratchpad=lambda x: format_log_to_str(x["intermediate_steps"]),
        # pass the memory as the chat history
        chat_history=lambda x: memory.chat_memory.messages,
    )
    | prompt
    | llm
    | JSONAgentOutputParser()
)

agent_executor = AgentExecutor(agent=agent, tools=tools, handle_parsing_errors=True, verbose=True, memory=memory)

# Execution

In [6]:
agent_executor.invoke({"input": "Which is the table of the schema with more tuples?"})

> Entering new AgentExecutor chain...
Question: Which is the table of the schema with more tuples?
Thought: I need to get the list of tables first.
Action:
```
{
  "action": "sql_db_list_tables",
  "action_input": ""
}
```
ObservationAlbum, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, TrackI have the list of tables. Now, I need to get the schema for each table to know the column names, and then I can query the number of tuples in each table.
Action:
```
{
  "action": "sql_db_schema",
  "action_input": "Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track"
}
```
Observation
CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/I have the schema for each table. Now, I need to query the number of tuples in each table.
Action:
```
{
  "action": "sql_db_query_checker",
  "action_input": "SELECT 'Album', COUNT(*) FROM Album UNION ALL SELECT 'Artist', COUNT(*) FROM Artist UNION ALL SELECT 'Customer', COUNT(*) FROM Customer UNION ALL SELECT 'Employee', COUNT(*) FROM Employee UNION ALL SELECT 'Genre', COUNT(*) FROM Genre UNION ALL SELECT 'Invoice', COUNT(*) FROM Invoice UNION ALL SELECT 'InvoiceLine', COUNT(*) FROM InvoiceLine UNION ALL SELECT 'MediaType', COUNT(*) FROM MediaType UNION ALL SELECT 'Playlist', COUNT(*) FROM Playlist UNION ALL SELECT 'PlaylistTrack', COUNT(*) FROM PlaylistTrack UNION ALL SELECT 'Track', COUNT(*) FROM Track"
}
```
ObservationThe original query is correct and does not contain any of the common mistakes mentioned. Here is the final SQL query:

```
SELECT 'Album', COUNT(*) FROM Album UNION ALL SELECT 'Artist', COUNT(*) FROM Artist UNION ALL SELECT 'Customer', COUNT(*) FROM Customer UNION ALL SELECT 'Employee', COUNT(*) FROM Employee UNION ALL SELECT 'Genre', COUNT(*) FROM Genre UNION ALL SELECT 'Invoice', COUNT(*) FROM Invoice UNION ALL SELECT 'InvoiceLine', COUNT(*) FROM InvoiceLine UNION ALL SELECT 'MediaType', COUNT(*) FROM MediaType UNION ALL SELECT 'Playlist', COUNT(*) FROM Playlist UNION ALL SELECT 'PlaylistTrack', COUNT(*) FROM PlaylistTrack UNION ALL SELECT 'Track', COUNT(*) FROM Track
```Action:
```
{
  "action": "sql_db_query",
  "action_input": "SELECT 'Album', COUNT(*) FROM Album UNION ALL SELECT 'Artist', COUNT(*) FROM Artist UNION ALL SELECT 'Customer', COUNT(*) FROM Customer UNION ALL SELECT 'Employee', COUNT(*) FROM Employee UNION ALL SELECT 'Genre', COUNT(*) FROM Genre UNION ALL SELECT 'Invoice', COUNT(*) FROM Invoice UNION ALL SELECT 'InvoiceLine', COUNT(*) FROM InvoiceLine UNION ALL SELECT 'MediaType', COUNT(*) FROM MediaType UNION ALL SELECT 'Playlist', COUNT(*) FROM Playlist UNION ALL SELECT 'PlaylistTrack', COUNT(*) FROM PlaylistTrack UNION ALL SELECT 'Track', COUNT(*) FROM Track"
}
```
Observation[('Album', 347), ('Artist', 275), ('Customer', 59), ('Employee', 8), ('Genre', 25), ('Invoice', 412), ('InvoiceLine', 2240), ('MediaType', 5), ('Playlist', 18), ('PlaylistTrack', 8715), ('Track', 3503)]Action:
```
{
  "action": "Final Answer",
  "action_input": "The table with the most tuples is PlaylistTrack with 8715 tuples."
}
```

> Finished chain.

{'input': 'Which is the table of the schema with more tuples?',
 'history': '',
 'output': 'The table with the most tuples is PlaylistTrack with 8715 tuples.'}

In [7]:
agent_executor.invoke({"input": "Who is the Artist with the most Albums?"})

> Entering new AgentExecutor chain...
Thought: I need to get the list of tables first to know which table to query.

Action:
```
{
  "action": "sql_db_list_tables",
  "action_input": ""
}
```
ObservationAlbum, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, TrackThought: Now that I have the list of tables, I need to get the schema of the relevant tables to know which fields to query.

Action:
```
{
  "action": "sql_db_schema",
  "action_input": "Artist, Album"
}
```
Observation
CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/Thought: Now that I have the schema, I can write a query to find the Artist with the most Albums.

Action:
```
{
  "action": "sql_db_query_checker",
  "action_input": "SELECT Artist.Name, COUNT(Album.AlbumId) AS NumAlbums FROM Album JOIN Artist ON Album.ArtistId = Artist.ArtistId GROUP BY Artist.Name ORDER BY NumAlbums DESC"
}
```
ObservationSELECT Artist.Name, COUNT(Album.AlbumId) AS NumAlbums
FROM Album
JOIN Artist ON Album.ArtistId = Artist.ArtistId
GROUP BY Artist.Name
ORDER BY NumAlbums DESCAction:
```
{
  "action": "sql_db_query",
  "action_input": "SELECT Artist.Name, COUNT(Album.AlbumId) AS NumAlbums FROM Album JOIN Artist ON Album.ArtistId = Artist.ArtistId GROUP BY Artist.Name ORDER BY NumAlbums DESC LIMIT 1"
}
```
Observation[('Iron Maiden', 21)]Action:
```
{
  "action": "Final Answer",
  "action_input": "The Artist with the most Albums is Iron Maiden with 21 Albums."
}
```

> Finished chain.

{'input': 'Who is the Artist with the most Albums?',
 'history': 'Human: Which is the table of the schema with more tuples?\nAI: The table with the most tuples is PlaylistTrack with 8715 tuples.',
 'output': 'The Artist with the most Albums is Iron Maiden with 21 Albums.'}